
:root {
	--color-form-border: #999;
	--color-border: #ddd;
	--color-hover: #efefef;
	--color-winner: #ffa;
}

body {
	padding-bottom: 80px;
}

input, select, button {
	box-sizing: border-box;
	padding: 4px;
	font: inherit;
	border: 1px solid var(--color-form-border);
	border-radius: 3px;
}

	button {
		padding: 4px 8px;
	}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid var(--color-border);
	text-align: center;
}

td,
th {
	text-align: center;
	padding: 5px;
	border: 1px solid var(--color-border);
}

tr:hover td {
	background: var(--color-hover);
}

tr.dragging {
	opacity: 0.5;
}

td.dragger {
	cursor: grab;
	user-select: none;
	padding: 0 5px;
}

	td.dragger::before {
		content: "⬍";
		display: inline-block;
		color: #777;
		vertical-align: middle;
		font-size: 26px;
	}

table tr.event-winner td {
	background: var(--color-winner);
}

	table tr.event-winner td.yes,
	table tr.event-winner td.no,
	table tr.event-winner td.maybe {
		font-weight: bold;
	}
