
:root {
	--font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

	--color-background: #fff;
	--color-form-border: #999;
	--color-border: #ddd;
	
	--color-winner-1: #ff6;
	--color-winner-2: #ff9;
	--color-winner-3: #ffe;

	--color-error: #c00;
	--color-success: #0c0;
}

body {
	padding-bottom: 80px;
	font-family: var(--font-family);
}

main {
	margin: 0;
	width: fit-content;
	max-width: 100%;
}

input, select, button {
	box-sizing: border-box;
	padding: 4px;
	font: inherit;
	border: 1px solid var(--color-form-border);
	border-radius: 3px;
}

	button {
		padding: 4px 8px;
	}

.form-message {

}

	.form-message--error {
		color: var(--color-error);
	}

	.form-message--success {
		color: var(--color-success);
	}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid var(--color-border);
	text-align: center;
	background: var(--color-background);
	position: relative;
}

table thead {
	position: sticky;
	top: -1px;
}

td,
th {
	text-align: center;
	padding: 5px;
	border: 1px solid var(--color-border);
}

th {
	background: var(--color-background);
	position: relative;
}

	th:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: var(--color-border);
	}

tr.dragging {
	opacity: 0.5;
}

td.dragger {
	cursor: grab;
	user-select: none;
	padding: 0 5px;
}

	td.dragger::before {
		content: "⬍";
		display: inline-block;
		color: #777;
		vertical-align: middle;
		font-size: 26px;
	}

td.event-title {
	text-align: left;
}

th.person-toggle,
td.person-toggle {
	display: none;
}

	th.person-toggle.visible,
	td.person-toggle.visible {
		display: revert;
		cursor: pointer;
		background: var(--color-background);
	}

th.person,
td.person {
}

	th.person.hidden,
	td.person.hidden {
		display: none;
	}

	th.person.priority-1,
	td.person.priority-1 {
		opacity: 0.6;
	}

	th.person.priority-2,
	td.person.priority-2 {
		opacity: 0.8;
	}

	th.person.priority-3,
	td.person.priority-3 {
		opacity: 1;
	}

td.event-title,
th.event-title,
td.no,
th.no,
td.selector,
th.selector {
	border-right-width: 5px;
}

table tr.event-winner-1 td {
	background: var(--color-winner-1);
}

	table tr.event-winner-1 td.yes,
	table tr.event-winner-1 td.no,
	table tr.event-winner-1 td.maybe,
	table tr.event-winner-1 td.event-title {
		font-weight: bold;
	}

table tr.event-winner-2 td {
	background: var(--color-winner-2);
}

table tr.event-winner-3 td {
	background: var(--color-winner-3);
}

.priority-select-description {
	display: none;
}

	.priority-select-description--visible {
		display: block;
		margin-top: 0.4em;
		font-size: 0.8em;
	}

	.priority-select-wrapper--nopass .priority-select-description {
		color: var(--color-error);
	}
